body {
    background-color: #f8f9fa;
}

.heading-text{
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.sidebar {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    width: 250px;
    transition: all 0.3s ease;
    transform: translateX(-250px);
    margin-top: 60px;
    padding-top: 18px;
}
.sidebar.show {
    transform: translateX(0);
}
.sidebar a {
    color: black;
    padding: 15px;
    display: block;
    text-decoration: none;
}
.sidebar a.active, .sidebar a:hover {
    background-color: #41A0E4;
    color: white;
}

.menu-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right .greeting {
    font-size: 10px;
    color: #56a6e0;
}

.header-right .username {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right .me-3 {
    text-align: right;
}

.rounded-circle {
    background-color: #ccc;
}

.content {
    margin-left: 0;
    transition: margin-left 0.3s ease;
}
.content.shifted {
    margin-left: 250px;
}

.navbar {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand img{
    width: 110px;
    margin-left: 91px;
}
.navbar-toggler {
    border: none;
    outline: none;
}

@media (min-width: 992px) {
    .sidebar {
        transform: translateX(0);
    }
    .content {
        margin-left: 250px;
    }
}

        .custom-card {
            position: relative;
            background: linear-gradient(to left, #C2D6FF, #ADC9FF);
            border-radius: 16px;
            padding: 20px;
            color: #2c3e50;
            text-align: left;
            overflow: hidden; 
            min-width: 260px;
            min-height: 117px;
        }

        .custom-card::before, .custom-card::after {
            content: "";
            position: absolute;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            width: 80px;
            height: 80px;
        }

        .custom-card::before {
            bottom: 0;
            right: 0;
            transform: translate(50%);
        }

        .custom-card::after {
            bottom: 0;
            right: 0;
            transform: translate(30%, 30%);
        }

        .custom-card h5 {
            font-size: 14px;
            font-weight: 400;
            color: #7b8a8b;
            margin-bottom: 5px;
        }
        .custom-card .display-6 {
            font-size: 28px;
            font-weight: bold;
            color: #2c3e50;
            margin: 0;
        }
.card{
    border: 0px;
}

.card-column{
    margin-left: 20px;
    margin-right: 20px;
}

.card-table{
    width: 784px;
    margin-left: 20px;
    margin-right: 20px;
}

.tb-title{
    font-size: 16px;
    font-weight: 500;
    padding-top: 22px;
    padding-left: 30px;
}

#tb-dashboard{
    font-size: 14px;
    font-weight: 400;
    padding-left: 30px;
}

.table-primary{
    background-color: #41A0E4 !important;
    color: white !important;
}

.tb-border-right{
    border-radius: 0 6px 6px 0;
}

.tb-border-left{
    border-radius: 6px 0 0 6px;
}

.dropdown-dashbord{
    width: 220px;
    height: 214px;
}

.logout-username{
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
}

.logout-email{
    font-size: 10px;
    font-weight: 400px;
}

.btn-tambah {
    background-color: #41A0E4 ; /* Warna tombol */
    color: white;
    border-radius: 0px !important;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-tambah:hover {
    background-color: #0056b3;
    color: white;
    border-radius: 0px !important;
}

.header-manage-user{
    margin-bottom: 20px;
}

.header-manage-product{
    margin-bottom: 20px;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.btn-simpan {
    background-color: #41A0E4 !important;
    border-color: #41A0E4 !important;
    border-radius: 0px !important;
    color: white;
  }

.btn-simpan:hover {
    background-color: #3690c9 !important;
    border-radius: 0px !important;
    color: white;
  }

.icon-action {
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
}

.icon-action i {
    font-size: 12px;
}


